In [2]:
import os
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
csv_path = "BC_HOTEL_PROJECT/reviews_with_countries.csv"

hotel_df= pd.read_csv(csv_path)

print (hotel_df.dtypes)

Unnamed: 0                        int64
Unnamed: 0.1                      int64
hotel_address                    object
additional_number_of_scoring      int64
review_date                      object
average_score                   float64
hotel_name                       object
total_number_of_reviews           int64
reviewer_score                  float64
lat                             float64
lng                             float64
country                          object
dtype: object

In [10]:
avg_avg_score = hotel_df["average_score"].mean()
avg_avg_score

8.469694915254243

In [12]:
country_group = hotel_df.groupby("country")

country_score_df = pd.DataFrame(country_group["average_score"].mean())
country_score_df

                average_score
country
Austria              8.574658
France               8.494945
Italy                8.318012
Netherlands          8.409524
Spain                8.499519
United Kingdom       8.464000

In [13]:
country_number_df = pd.DataFrame(country_group["total_number_of_reviews"].mean())
country_number_df

                total_number_of_reviews
country
Austria                     1563.287671
France                       636.703297
Italy                       1598.633540
Netherlands                 2161.247619
Spain                       1440.028846
United Kingdom              1533.440000